.team,.left,.center,.right{
    /*background:#eee;*/
    height:100%;
    border:1px solid #999;
    padding:20px;
    overflow:hidden;
}
.team{
    background:#eee;
}
.center{
    margin-left:220px;
    margin-right:140px;
}
.left{
    float:left;
    width:158px;
}
.left img{
    width:80px;
    vertical-align:top;
}
.left span{float:right;}
.right{
    float:right;
    width:78px;
    padding:20px;
    border:1px solid #999;
}

img{
    border:1px solid #999;
    /*margin:20px;*/
}
.right img{
    margin:10px 0;
    width:80px;
}
.team::after{
    content:'';
    clear:both;
}
